@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form{
    background: linear-gradient(113deg, rgba(176, 148, 255, 0.32) 0%, rgba(255, 255, 255, 0.32) 30.21%, rgba(255, 255, 255, 0.32) 66.97%, rgba(190, 41, 242, 0.32) 96.87%);
    border: solid 2px#D7F1F7;
    filter: drop-shadow(0px 4px 47.5px rgba(0, 0, 0, 0.15));
    backdrop-filter: blur(11.199999809265137px);
    width: 60vw;
    border-radius: 20px;
    padding: 1em;
    position: absolute;
    height: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.input{
    all: unset;
    background: transparent;
    color: rgba(55, 55, 55, 0.53); 
    border-bottom: 2px solid #373737;
    padding: 0.3em;
}